.popup__container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: 430px;
    border-radius: 10px;
}

@media screen and (max-width: 650px) {
    .popup__container {
        max-width: 282px;
        width: 100%;
    }
}