.profile {
    margin: 0 auto;
    max-width: 880px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 650px) {
    .profile {
        max-width: 320px;
        flex-direction: column;
        padding-top: 42px;
        row-gap: 30px;
    }
}