.gallery__container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    padding: 50px 0 0 0;
    row-gap: 20px;
    column-gap: 17px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 880px;
}

@media screen and (max-width: 320px) {
    .gallery__container {
        padding: 36px 0 0 0;
        max-width: 282px;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: repeat(1, auto);
    }
}