.profile__title {
    display: flex;
    column-gap: 18px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 650px) {
    .profile__title {
        column-gap: 10px;
        margin: 0 0 0 27px;
    }
}