.profile__title {
    display: flex;
    column-gap: 18px;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
    }
}