.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    background-image: url(../../../images/cross-icon.svg);
    background-color: black;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}