.profile__text {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .profile__text {
        font-size: 27px;
        line-height: 33px;
    }
}