.profile__container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 30px;
}

@media screen and (max-width: 320px) {
    .profile__container {
        column-gap: 10px;
    }
}