@import "../vendor/normalize.css";

@import "../blocks/page/page.css";

@import "../blocks/profile/profile.css";

@import "../blocks/gallery/gallery.css";

@import "../blocks/header/header.css";

.photo-grid {
    padding: 51px 0 0 0;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 880px;
    display: grid;
    row-gap: 20px;
    column-gap: 17px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
}