.profile__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 336px;
    margin: 0 20px 0 0;
}

@media screen and (max-width: 650px) {
    .profile__info {
        margin: 28px 0 0 0;
        max-width: 320px;
        align-items: center;
        row-gap: 4px;
    }
}