.page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: #000;
    font-family: "Inter", sans-serif;
    color: #fff;
}